.new-cost {
  background-color: #aac4d1;
  /* border: 1px solid black; */
  padding: 1rem;
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  background: rgba(0, 161, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid black;
}

.new-cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #5e6b76;
  background-color: #5d5d5d;
  color: #fefae1;
  border-radius: 10px;
  margin-right: 3px;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #2a5c84b2;
  border-color: #2a5c84b2;
}
